In [1]:
import pandas as pd

In [6]:
#df=pd.read_excel('UNSC_voting_update_Nov2022.xlsx', skiprows=1, index_col=-1)

In [12]:
df=pd.read_csv('UNVotes.csv')

/tmp/ipykernel_4548/892216458.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('UNVotes.csv')

In [17]:
df=df[['rcid', 'vote', 'Country', 'year']]
df=df[df['vote']!=8] # absent
df=df[df['vote']!=9] # not a member
df['vote'] = df['vote'].map({1: 1, 3: 0, 2: -1}) # to have {'yes': 1, 'no': 0, 'abstain': -1}
df=df.drop_duplicates(subset=['rcid', 'year','Country'])
df.to_csv('clean_UNVotes.csv')
df

         rcid  vote Country  year
0           3   1.0     USA  1946
1           3   NaN     CAN  1946
3           3   1.0     CUB  1946
4           3   1.0     HTI  1946
5           3   1.0     DOM  1946
...       ...   ...     ...   ...
1266952  9373   1.0     VUT  2022
1266954  9373   1.0     VNM  2022
1266955  9373   1.0     YEM  2022
1266956  9373   1.0     ZMB  2022
1266957  9373   1.0     ZWE  2022

[913827 rows x 4 columns]

In [20]:
df[df['Country']=='FRA']

         rcid  vote Country  year
40          3   NaN     FRA  1946
237         4   NaN     FRA  1946
434         5   1.0     FRA  1946
631         6   NaN     FRA  1946
828         7   NaN     FRA  1946
...       ...   ...     ...   ...
1266054  9369   1.0     FRA  2022
1266247  9370   1.0     FRA  2022
1266440  9371   NaN     FRA  2022
1266633  9372   1.0     FRA  2022
1266826  9373   1.0     FRA  2022

[6253 rows x 4 columns]

In [14]:
df_wide = pd.pivot_table(df, values='vote', index=['Country', 'year'], columns='rcid', aggfunc='first').reset_index()
df_wide_filled = df_wide.fillna(9)
df_wide_filled.to_csv('clean_UNVotes_pivoted.csv')

In [21]:
df_wide_filled=pd.read_csv('clean_UNVotes_pivoted.csv', index_col=0)
df_wide_filled[df_wide_filled['Country']=="USA"]

,Country,year,3,4,5,6,7,8,9,10,...,9399,9400,9401,9402,9403,9404,9405,9406,9407,9408
10363,USA,1946,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
10364,USA,1947,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
10365,USA,1948,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
10366,USA,1949,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
10367,USA,1950,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10433,USA,2017,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
10434,USA,2018,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
10435,USA,2020,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
10436,USA,2021,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
10437,USA,2022,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [15]:
print(set(df_wide_filled['Country'].values))

{'SAINT VINCENT AND THE GRENADINES', 'GRENADA', 'POL', 'BGD', 'CHAD', 'MYANMAR', 'SLE', 'ROU', 'MLT', 'NORTH MACEDONIA', 'SGP', 'AUSTRIA', 'MLI', 'BLZ', 'FIJI', 'NLD', 'INDIA', 'SYC', 'SOUTH SUDAN', "DEMOCRATIC PEOPLE'S REPUBLIC OF KOREA", 'CAMEROON', 'HAITI', 'JAPAN', 'POLAND', 'SURINAME', 'ARG', 'PRY', 'SINGAPORE', 'BELARUS', 'LITHUANIA', 'QAT', 'SAN MARINO', 'GTM', 'JAM', 'LUXEMBOURG', 'MRT', 'FIN', 'ISR', 'TUR', 'NAMIBIA', 'CYPRUS', 'GAB', 'TOGO', 'TTO', 'REPUBLIC OF MOLDOVA', 'ROMANIA', 'TUVALU', 'IDN', 'VENEZUELA (BOLIVARIAN REPUBLIC OF)', 'FINLAND', 'LIECHTENSTEIN', 'GEO', 'SAINT KITTS AND NEVIS', 'KAZ', 'KGZ', 'EQUATORIAL GUINEA', 'BEL', 'COLOMBIA', 'TLS', 'LIE', 'NAM', 'ERITREA', 'ETH', 'SENEGAL', 'CANADA', 'GMB', 'TKM', 'RWA', 'HUN', 'BURKINA FASO', 'MNE', 'GUYANA', 'JORDAN', 'ALBANIA', 'BTN', 'NZL', 'CAN', 'SVN', 'NIGERIA', 'ZIMBABWE', 'GERMANY', 'TCD', 'PERU', 'SAUDI ARABIA', 'TJK', 'KEN', 'PAN', 'GHANA', 'BHR', 'BHS', 'FSM', 'TUNISIA', 'ESTONIA', 'MAURITIUS', 'SYR', 'BRB', 'MALTA', 'YUG', 'HUNGARY', 'BIH', 'LEBANON', 'COL', 'CHL', 'MDV', 'CAMBODIA', 'TONGA', 'NER', 'IRQ', 'UNITED REPUBLIC OF TANZANIA', 'PAKISTAN', 'UGA', 'SWE', 'SAMOA', 'CYP', 'VEN', 'DOMINICA', 'ECU', 'COMOROS', 'COM', 'MONGOLIA', 'BOLIVIA (PLURINATIONAL STATE OF)', 'SSD', 'ZMB', 'LIBERIA', 'BANGLADESH', 'PANAMA', 'TURKEY', 'TIMOR-LESTE', 'MHL', 'PORTUGAL', 'NPL', 'PALAU', 'DJI', 'MONACO', 'ICELAND', 'VNM', 'THAILAND', 'TUV', 'GNQ', 'CABO VERDE', 'KUWAIT', 'NICARAGUA', 'CPV', 'OMN', 'SAU', 'ATG', 'GABON', 'LSO', 'SOMALIA', 'STP', 'TGO', 'SLOVAKIA', 'LBN', 'NEW ZEALAND', 'TAJIKISTAN', 'SAO TOME AND PRINCIPE', 'LCA', 'UKRAINE', 'NEPAL', 'VCT', 'PER', 'BFA', 'DJIBOUTI', "LAO PEOPLE'S DEMOCRATIC REPUBLIC", 'BOSNIA AND HERZEGOVINA', 'MYS', 'KHM', 'NGA', 'JPN', 'BHUTAN', 'GUY', 'IRAQ', 'HND', 'BWA', 'KWT', 'CIV', 'ESWATINI', 'UZBEKISTAN', 'PARAGUAY', 'KENYA', 'UGANDA', 'MUS', 'ETHIOPIA', 'ZWE', 'CZE', 'SPAIN', 'IRN', 'GNB', 'TWN', 'NAURU', 'CHINA', 'PNG', 'KNA', 'CSK', 'TUN', 'MICRONESIA (FEDERATED STATES OF)', 'MALDIVES', 'TRINIDAD AND TOBAGO', 'BENIN', 'IRAN (ISLAMIC REPUBLIC OF)', 'VUT', 'GUINEA', 'KIR', 'ALB', 'PHILIPPINES', "COTE D'IVOIRE", 'ECUADOR', 'MALAWI', 'BELGIUM', 'DMA', 'KAZAKHSTAN', 'ANDORRA', 'MDG', 'CMR', 'SWEDEN', 'MOROCCO', 'FJI', 'MKD', 'GUATEMALA', 'REPUBLIC OF KOREA', 'AZE', 'CHE', 'INDONESIA', 'HTI', 'PAPUA NEW GUINEA', 'BDI', 'JOR', 'MALAYSIA', 'DDR', 'MADAGASCAR', 'CAF', 'EAZ', 'ISRAEL', 'MAURITANIA', 'MOZAMBIQUE', 'SVK', 'HONDURAS', 'LATVIA', 'EGY', 'NOR', 'NORWAY', 'JAMAICA', 'URUGUAY', 'HRV', 'SIERRA LEONE', 'MARSHALL ISLANDS', 'YAR', 'ARM', 'SOUTH AFRICA', 'ARGENTINA', 'DOMINICAN REPUBLIC', 'ESP', 'CRI', 'IRL', 'TURKMENISTAN', 'AND', 'MAR', 'SLV', 'YEM', 'CUB', 'USA', 'BOL', 'TZA', 'MALI', 'SAINT LUCIA', 'EGYPT', 'PRK', 'ZAF', 'MEXICO', 'BULGARIA', 'SWITZERLAND', 'CROATIA', 'WSM', 'ISL', 'KIRIBATI', 'CHN', 'ALGERIA', 'FRA', 'PRT', 'SWZ', 'DZA', 'GBR', 'ZAMBIA', 'LESOTHO', 'UNITED KINGDOM', 'SUDAN', 'LKA', 'LUX', 'PLW', 'AUSTRALIA', 'CZECHIA', 'IND', 'MMR', 'COG', 'VIET NAM', 'UKR', 'LBY', 'PAK', 'MDA', 'KYRGYZSTAN', 'LIBYA', 'CONGO', 'ITA', 'QATAR', 'LBR', 'COD', 'LTU', 'MONTENEGRO', 'VANUATU', 'GEORGIA', 'AZERBAIJAN', 'RUS', 'DNK', 'NETHERLANDS', 'SMR', 'THA', 'EST', 'PHL', 'SUR', 'ERI', 'MNG', 'BAHAMAS', 'ARMENIA', 'BRN', 'URY', 'BRUNEI DARUSSALAM', 'BEN', 'BGR', 'SOLOMON ISLANDS', 'BRA', 'UNITED ARAB EMIRATES', 'LVA', 'BARBADOS', 'DOM', 'AFGHANISTAN', 'NRU', 'FRANCE', 'CENTRAL AFRICAN REPUBLIC', 'DENMARK', 'GRD', 'CHILE', 'IRELAND', 'COSTA RICA', 'GRC', 'NIGER', 'MCO', 'RUSSIAN FEDERATION', 'CUBA', 'RWANDA', 'ANTIGUA AND BARBUDA', 'BURUNDI', 'MEX', 'BOTSWANA', 'LAO', 'BELIZE', 'SRI LANKA', 'AGO', 'MOZ', 'BAHRAIN', 'GREECE', 'YEMEN', 'SEYCHELLES', 'BRAZIL', 'AUT', 'OMAN', 'SEN', 'SLB', 'SOM', 'GUINEA-BISSAU', 'ITALY', 'GHA', 'ARE', 'NIC', 'SDN', 'EL SALVADOR', 'GAMBIA', 'AFG', 'DEU', 'UNITED STATES', 'SYRIAN ARAB REPUBLIC', 'KOR', 'ANGOLA', 'DEMOCRATIC REPUBLIC OF THE CONGO', 'MWI', 'UZB', 'TON', 'GIN', 'SLOVENIA', 'AUS', 'BLR'}

In [22]:
df_wide_filled[df_wide_filled['Country']=="FRA"]

,Country,year,3,4,5,6,7,8,9,10,...,9399,9400,9401,9402,9403,9404,9405,9406,9407,9408
3405,FRA,1946,0.0,-1.0,1.0,0.0,0.0,1.0,1.0,1.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
3406,FRA,1947,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
3407,FRA,1948,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
3408,FRA,1949,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
3409,FRA,1950,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3475,FRA,2017,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
3476,FRA,2018,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
3477,FRA,2020,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
3478,FRA,2021,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
3479,FRA,2022,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,1.0,0.0,1.0,0.0,1.0,0.0,-1.0,1.0,1.0,-1.0

In [23]:
import pandas as pd
import rpy2.robjects as robjects


robjects.r('''
    library(wnominate)
    library(dplyr)
    library(tidyr)

    # Read the CSV file into a matrix
    data <- read.csv('clean_UNVotes_pivoted.csv', header=TRUE, row.names=1)
    # legis.names <- data$Country

    UNnames <- data[, 1]
    yearData <- matrix(data[, 2], length(data[, 2]), 1)
    colnames(yearData) <- "year"
    data <- data[, -c(1, 2)]
    data <- as.matrix(data)

    rc <- rollcall(data, yea = c(1), nay = c(0), missing = c(-1), notInLegis = 9, legis.names = UNnames, legis.data = yearData, desc = "UN Votes")
    fit <- wnominate(rc, polarity = c(10363, 3405)) # polarity should give the row of a conservative vote scheme and the ow of a liberal vote scheme . I put usa and france 1946

    # # Spread the data to have one row per legislator and one column per vote
    # vote_matrix <- data %>%
    #     pivot_wider(names_from = rcid, values_from = vote) %>%
    #     select(-year, -Country)  # Exclude non-vote columns
    # vote_matrix[vote_matrix == -1] <- NA

    # # Convert the data frame to a matrix
    # vote_matrix <- as.matrix(vote_matrix)
    # rownames(vote_matrix) <- legis.names

    # rollcall_data <- rollcall(vote_matrix, yea = 1, nay = 0, missing = -1, notInLegis = 9, legis.names = UNnames, legis.data = yearData,)

    # # Estimate the ideal points using DW-NOMINATE
    # fit <- wnominate(rollcall_data, dims = 2, polarity = c(1, 2))

    # Print the ideal points
    print(fit$coords)
''')

# # Extract the ideal points from the R object
# ideal_points = robjects.r.as_data_frame(robjects.r.fit.rx2('factors'))

# # Print the ideal points
# print(ideal_points)

supplied legislator names do not match number of rows
in roll call matrix; will use default names

Preparing to run W-NOMINATE...

	Checking data...

		... 2734 of 11015 total members dropped.

		Votes dropped:
		... 3546 of 6464 total votes dropped.

	Running W-NOMINATE...